<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link href="/css/style.css" rel="stylesheet" />
    <title>Homepage</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Homepage</h1>
        <% if (!user) { %>
        <a role="button" href="/auth/login">Login</a>
        <% } else { %>
        <a role="button" href="/auth/logout">Logout</a>
        <% } %>
      </div>
      <h2>Welcome, <span style='color:hotpink'><%= user?.uname || "Visitor" %></span>.</h2>
      <div>
        <p>All Posts</p>
        <% posts.forEach(post => { %>

        <div class="individualPost">
          <h3 style="margin:0;"><%= post.creator?.uname %></h3>
          <% if (user) { %>
            <div style="display:flex;justify-content: space-between;">
              <a href="/posts/show/<%=post.id%>" style="margin:0;"><%= post.title %></a>
              <span style="display:flex;justify-content: space-between;">
						<form action="/posts/vote/<%= post.id %>" method="POST">
							<input type="hidden" name="setvoteto" value="-1" />
							<button type="submit" style="background-color:transparent;border:none;width:20px;height:20px;"> <i class="bi bi-hand-thumbs-down <%= post.setvoteto === -1 ? 'downVote': 'neutral' %>"></i></button>
						</form>
						<form action="/posts/vote/<%= post.id %>" method="POST">
							<input type="hidden" name="setvoteto" value="+1" />
							<button type="submit" style="background-color:transparent;border:none;;width:20px;height:20px;margin-right:30px;">
								<i class="bi bi-hand-thumbs-up <%= post.setvoteto === 1 ? 'upVote':'neutral'%>"></i>
							</button>
						</form> 
						<div style="display:flex;text-align:center;align-items:center;margin-top:10px;">							
							<p><%= post.currentNetVotes %></p>
						</div> 
              </span>
            </div>
          <% } %>          
         
          <p><%= post.description %></p>
			 <hr />
        </div>
        <% }) %>
		
      </div>
      <div>
        <a href="/subs/list">Subgroups</a>
      </div>

      <div>
        <% if (user) { %>
        <a role="button" href="/posts/create">Create Post</a>
        <% } %>
      </div>      
    </main>
  </body>
</html>
